body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f0f0f0;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#itemsList {
  list-style-type: none;
  padding: 0;
}

#itemsList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#editInput {
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button.update,
button.delete {
  font-size: 16px;
  border: 1px solid #dedede;
  background-color: #ececec;
  color: #333;
  transition: all 0.3s ease;
}

button.update {
  font-size: 18px;
}

button:hover {
  background-color: #ccc;
}
